@font-face {
  font-family: 'MiFuente';
  src: url("letras/Lover.otf"); /* Asegúrate de reemplazar 'mi-fuente.ttf' con el nombre de tu archivo de fuente */
}
@font-face{
  font-family: "Mifuente3";
  src: url("letras/Ziggy\ Zoe.ttf");
}

body {
    background: url(img/52f7b22f16343324c5f88d1928654c77.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  #carta2 {
    width: 80%;
    margin: auto;
    border: 1px solid #eeff00;
    padding: 20px;
    background-color: #deff58;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  h1 {
    color: #f75d59;
    text-align: center;
    font-family: Mifuente3;
  }
  
  p {
    color: #6a737b;
    font-size: 18px;
    line-height: 1.6;
    font-family: MiFuente;
  }

#juntos{
  position: absolute;
  width: 350px;
  height: 450px;
  top: 750px;
  font-family: Mifuente3;
  font-size: 40px;
}
img{
  position: absolute;
    width: 250px;
    height: 250px;
    top: 130px;
    left: 50px;
    border-radius: 50px;
}
